/.qtc_clangd
/temp
/*.LowXRayFSS
object_script.LowXRayFSSd
Makefile
*.user
LowXRayFSS.pro.user
LowXRayFSS.pro.user
/*.LowXRayFSSd
/.qtcreator/NeutronCamera.pro.user.9b637fd
/.qtcreator/NeutronCamera.pro.user.e6e163f
/.vs/NeutronCamera/CopilotIndices/17.14.1641.39856/CodeChunks.db
/.vs/NeutronCamera/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
/.vs/NeutronCamera/FileContentIndex/ea158d0a-c8c3-4422-88c6-9e60ab8eb99a.vsidx
/.vs/NeutronCamera/v17/.suo
/.vs/NeutronCamera/v17/Browse.VC.db
/.vs/NeutronCamera/v17/Solution.VC.db
/.vs/NeutronCamera/v17/fileList.bin
/NeutronCamera.pro.user.9b637fd
/NeutronCamera.pro.user.cdaffd5
/NeutronCamera.pro.user.e6e163f
/NeutronCamera.qtvscr
/NeutronCamera.vcxproj
/NeutronCamera.vcxproj.filters
/resource/font/inziu-iosevkaCC-SC-regular.ttf
/object_script.NeutronCamerad
